{
  "name": "<%= name %>",
  "$schema": "../../node_modules/nx/schemas/project-schema.json",
  "sourceRoot": "libs/<%= name %>/src",
  "projectType": "library",
  "tags": [],
  "// targets": "to see all targets run: nx show project <%= name %> --web",
  "targets": {}
}
