/* my-<%= name %>-component.stories.tsx */

import React, { forwardRef } from 'react';
import { cn } from '@spwntch/ui';
import { ContentBlock } from '@/react-blocks';
import styles from './my-<%= name %>-component.module.css';

interface IMy<%= className %>ComponentProps {
  className?: string;
}

const My<%= className %>Component = forwardRef<HTMLDivElement, IMy<%= className %>ComponentProps>(({ className }, ref) => {
  return (
     <ContentBlock
        className={className}
        innerContent={{
          title: { content: 'A Boilerplate for your Componen' },
          subTitle: {
            content: 'Use Spawntech components to build your user interface...',
          },
          tags: ['@spwntch/ui', '@spwntch/typography', '@spwntch/components', '@spwntch/blocks'],
        }}
        hAlign="center"
        vAlign="middle"
        height={600}
      />
  );
});

My<%= className %>Component.displayName = 'My<%= className %>Component';

export default My<%= className %>Component;
