/* my-<%= name %>-component.stories.tsx */

import React, { forwardRef } from 'react';
import { cn } from '@spwntch/ui';
import { ContentBlock } from '@/react-blocks';
import styles from './my-<%= name %>-component.module.css';

interface IMy<%= className %>ComponentProps {
  className?: string;
}

const My<%= className %>Component = forwardRef<HTMLDivElement, IMy<%= className %>ComponentProps>(({ className }, ref) => {
  return (
     <ContentBlock
        className={className}
        innerContent={{
          title: { content: 'Welcome to Spawntech' },
          subTitle: {
            content: 'Pioneering the Future of Software Development',
          },
          tags: ['DevOps', 'UX/UI', 'Lean Innovation', 'Node.js'],
        }}
        hAlign="center"
        vAlign="middle"
        height={300}
      />
  );
});

My<%= className %>Component.displayName = 'My<%= className %>Component';

export default My<%= className %>Component;
