/* my-<%= name %>-component.stories.tsx */

import React, { forwardRef } from 'react';
import styles from './my-<%= name %>-component.module.css';

interface IMy<%= className %>ComponentProps {
  className?: string;
}

const My<%= className %>Component = forwardRef<HTMLDivElement, IMy<%= className %>ComponentProps>(({ className }, ref) => {
  return (
    <div ref={ref} className={`${styles['container']} ${className}`}>
      <h1>Welcome to My<%= className %>Component!</h1>
    </div>
  );
});

My<%= className %>Component.displayName = 'My<%= className %>Component';

export default My<%= className %>Component;
